.label {
	cursor: text;

	display: block;
	display: flex;
	flex-direction: column;
	gap: 4px;

	width: 100%;
}

.labeltext {
	font-size: 14px;
	line-height: 20px;
}

.labeltext[data-is-required="true"]::after {
	content: "*";
	margin-left: 4px;
	color: var(--red);
}

.root {
	position: relative;

	display: flex;
	gap: 8px;
	align-items: center;

	padding: 10px 12px;

	background: var(--white);
	border: 1px solid var(--light-gray);
	border-radius: var(--radius);
}

.search {
	border: 1px solid transparent;
}

.input {
	width: 100%;

	font-size: 14px;
	line-height: 16px;

	background: none;
	border: none;
	outline: none;
}

.root:hover {
	border: 1px solid var(--light-gray);
}

.root:focus-within {
	border: 1px solid var(--dark-orange);
}

.cross {
	cursor: pointer;
}
