@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.wrapper {
	width: 100%;
	animation: fade-in 0.3s ease-in-out;
}

.root {
	display: flex;
	gap: 24px;

	padding: 24px;

	background: var(--white);
	border-radius: var(--radius);
}

.cover {
	overflow: hidden;
	flex-shrink: 0;

	width: 100px;
	height: 120px;

	border-radius: var(--radius);
}

.cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.title {
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}

.info {
	display: flex;
	gap: 16px;

	.left,
	.right {
		display: flex;
		flex-direction: column;
		gap: 12px;

		font-size: 14px;
		line-height: 20px;
	}

	.left {
		flex-shrink: 0;
		width: 90px;
		color: #ababab;
	}
}

.description {
	max-width: 600px;
}

.rating {
	z-index: 20;
	flex-shrink: 0;
}
