@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("./reset");
@import url("./variables");

body,
html,
#root {
	height: 100%;
	font-family: Roboto, sans-serif;
}

body,
#root {
	display: flex;
	flex-direction: column;
}

html {
	color: var(--black);
	background: var(--background);
}
