.container {
	display: grid;
	grid-template-columns: 408px 1fr;
	gap: 24px;
	align-items: flex-start;

	width: 100%;
	min-height: 100%;
	padding: 20px 0;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 20px;

	padding: 24px;

	background: var(--white);
	border-radius: var(--radius);
}

.title {
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 100%;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 100%;
}
